.lead__title {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    font-style: normal;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 750px) {
    .lead__title {
        font-size: 80px;
        line-height: 74px;
    }
}

@media screen and (max-width: 620px) {
    .lead__title {
        margin-bottom: 32px;
        font-size: 60px;
        line-height: 64px;
    }
}


@media screen and (max-width: 420px) {
    .lead__title {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
    }
}