.place {
    margin: 0 auto;
    margin-bottom: 80px;
    display: grid;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;

}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 73px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 660px) {
    .place {
        column-gap: 0;
        row-gap: 16px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
}

@media screen and (max-width: 420px) {
    .place {
        margin-bottom: 50px;
        row-gap: 32px;
    }
}